.footer {
    .footer-row{
        margin-left: -1rem;
        margin-right: -1rem;
    }
    .footer-logo {
    width: 100%;
    }

   .footer-headertext {
    line-height: 1rem;
    color: rgb(255, 255, 255);
    margin-top: 1.8rem;
    margin-bottom: 1rem;
    display: block;
    width: 100%;
    font-weight: 600;
   }
   .footer-text {
    margin-top: 1.65rem;
   }

   .footer-logo-text {
    color: rgb(134, 151, 162);
    font-size: 0.75rem;
    }

   .footer-links {
    color: rgb(134, 151, 162);
    font-size: 0.9rem;
    font-weight: 500;
   }
   .footer-links:hover {
    color:rgb(12, 214, 100);
    text-decoration: none;
   }
   .footer-icons{
    display: inline-block;
    background-color: rgb(49, 55, 63);
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1.25rem;
    line-height: 0;
    cursor: pointer;
    border-color: rgb(53, 60, 68);
    padding: 0.5rem;
    border-style: solid;
    border-width: 1px;
    border-radius: 6.25rem;
    text-decoration: none;
    transition: border-color 0.2s ease 0s;
    width: 2.5rem;
   }
}