.popular {
    color: white;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 2rem;
    margin: 1rem 0px;
}

.popular-container {
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 130px;
    margin-bottom: 1rem;
    &::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0.3);
    background-color: $body-bg;
    }
    &::-webkit-scrollbar{
    height: 3px;
	width: 5px;
	background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb{
	background-color: #36363f;
    border: 1px solid #555555;
    }
}  

.popular-banner {
    flex:1 ;
    border-radius: $border-radius-xxlg;
    position: relative;
    width: 250px;

    + .popular-banner {
        margin-left: $grid-gutter-width;
    }

    .popular-info {
        width: 250px;
    }

    .popular-image {        
        float: left;   
        border-radius: 1rem;
    }

    .popular-title {
        color: white;
        position: relative;
        display: inline;
        text-align: center;
        margin-left: 1rem;
    }
}
